<!DOCTYPE html>
<html lang="en">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>json new FormData
</head>
<script type="text/javascript">
    var test = function () {
        var params = {
            title : "title"
            , content : "content"
        }

        var formData = new FormData();
        $.each($('#file')[0].files, function(index, value){formData.append('file',value);});
        formData.append('dto', new Blob([JSON.stringify(params)],{type:"application/json"}))


        $.ajax({
            url: "/board",
            type: "POST",
            data: formData,
            // contentType: "application/json",
            // contentType: "multipart/form-data",
            contentType: false,
            processData: false,
            beforeSend: function(xhr){
              xhr.setRequestHeader("X-AUTH-TOKEN","eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ0ZXN0NSIsInJvbGVzIjpbIlJPTEVfVVNFUiJdLCJpYXQiOjE2NDc1Mjk0MDUsImV4cCI6MTY0NzUzMTIwNX0.6KNsmfUu3V1svAzSiyYS9LSvl5_RqVhCoCDjE_C2yX4");
            },
            success: function (result) {
                console.log(result)
            },
            error: function () {
            }
        })
    }

</script>
<body>
<button onclick="test()">GOGO</button>
    <input type="file" multiple id="file"> 파일업로드</input>
</body>
</html>